.site-header {
  height: 120px;
  padding-top: 20px;
  border-bottom: solid 3px $light-brown;
  margin-bottom: 20px;
}
.brown-bar {
  background-color: $dark-brown;
  padding: 20px 0;
  font-size: $small-font-size;
  text-align: center;
}